{% extends "base.html" %} 
{% block content %}
<div class="container my-3 d-flex justify-content-center align-items-center shadow rounded">
  <div class="row">
    <div class="col">
      <p></p>
      <h2 class="text-center mb-4">เข้าสู่ระบบ</h2>
      <form action="" method="POST">
        {% csrf_token %}
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password">
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="remember">
          <label class="form-check-label" for="remember">Remember me</label>
        </div>
        <button type="submit" class="btn btn-primary">เข้าสู่ระบบ</button>
      </form>
      <p></p> 
      <p> เริ่มต้นเบิกยา : <a href="register" class="link-offset-0 link-underline link-underline-opacity-0">สมัครสมาชิก</a></p>
      
    </div>
  </div>
</div>
{% endblock %}