{% extends "base.html" %}
{% block content %}
<div class="mt-2 p-2 bg-secondary text-center text-white rounded h3">
    จัดการข้อมูลประเภทสินค้า
</div>
<div class="container-fluid my-3 justify-content-center align-items-center shadow rounded">
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>ลำดับ</th>
                <th>ชื่อประเภทสินค้า</th>
                <th></th>
                <th>เครื่องมือ</th>
            </tr>
        </thead>
        <tbody>
            {% for i in type %}
            <tr>
                <td>{{ i.type_id }}</td>
                <td>{{ i.type_name }}</td>
                <td>{{ i.product_exp }}</td>
                <td>
                  <div class="col d-sm-none">
                    <a href="editt/{{ i.type_id }}" class="btn btn-warning"><i class="fa fa-gear" aria-hidden="true"></i></a>
                    <a href="delete_type/{{ i.type_id }}/" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal" onclick="setDeleteUrl('delete_type/{{ i.type_id }}/')"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                </div>
                <div class="col d-none d-sm-block">
                    <a href="editt/{{ i.type_id }}" class="btn btn-warning">แก้ไข</a>
                    <a href="delete_type/{{ i.type_id }}/" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal" onclick="setDeleteUrl('delete_type/{{ i.type_id }}/')">ลบ</a>
                </div>
                
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deleteConfirmationModalLabel">Confirm Deletion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>Are you sure you want to delete this item?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <a id="deleteButton" href="#" class="btn btn-danger">Delete</a>
              </div>
            </div>
          </div>
        </div>
        <script> 
          function setDeleteUrl(url) {
            document.getElementById('deleteButton').href = url;
          }
        </script>
    
      </div>
    </table>
</div>
{% endblock %}
