{%extends "base.html"%}
{% block content %}
<div
  class="container my-3 d-flex justify-content-center align-items-center shadow rounded"
>
  <div class="row">
    <p></p>
    <p></p>
    {% for i in product_data %}
    <div class="col-lg-3 col-md-6 me-5 ms-5 mb-5">
      <div class="card" style="width: 18rem">
        <!-- ระบุ URL ของรูปภาพใน src attribute -->
        <img src="static/images/product/product.jpg" class="card-img-top" alt=" {{ i.product_name }}" />
        <div class="card-body">
          <h5 class="card-title">ชื่อสินค้า : {{ i.product_name }}</h5>
          <p class="card-text">ประเภทสินค้า : {{ i.product_type }}</p>
          <p class="card-text">จำนวนคงคลัง : {{ i.product_qty }}</p>

          <a href="#" class="btn btn-primary w-100">นำส่งสินค้า</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
